html, body {
    height: 100%;
    color: #61DAFB;
    background: #2D2D2D;
  }
  
  h1 {
    margin: 20px 0 15px 0;  
  }
  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  ul {
    list-style: none;
  }
  
  ul>li:hover {
    background-color: #F5F5F5;
  }
  
  .form-inline .form-control {
    width: 50%;
    margin-left: 80px;
  }
  
  .done {
    color: red;
    text-decoration: line-through;
  }
  
  .undone {
    color: #61DAFB;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  
  .todo-app{
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: max-content 1fr 25px;
    height: 50%;
  }

  .todolist{
    display: grid;
    background-color: white;
    padding: 15px;
    grid-gap: 5px;
    max-height: 30vh;
    overflow: auto;
  }

  .todolist li{
    display: grid;
    grid-template-columns: auto 25px;
  }

  .btn {
    border: 0;
    color: white;
    border-radius: 2px;
}