.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 40vmin; */
  pointer-events: none;
  display: grid;
  max-height: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  
    display: grid;
    grid-template-columns: 25vw 1fr 25vw;
    grid-template-rows: 35px 1fr;
}

.wrapper{
  display: grid;
  grid-template-columns: 25vw 1fr 25vw;
  grid-template-rows: 35px 1fr;
}

.login-form{
  display: grid;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: stretch;
  text-align: center;
  background-color: white;
}